{% if objects_list %}
    <ul>
        {% for object in objects_list %}
            <li><a href="{% url 'adminpanel:updateview_model' model_id model_app model_name object.id %}">{{ object }}</a></li>
            {{ object.id }}
            <form action="{% url 'adminpanel:deleteview_model' model_id model_app model_name object.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        {% endfor %}
    </ul>
{% else %}
    <p>No models are available</p>
{% endif %}
<form action="{% url 'adminpanel:createview_model' model_id model_app model_name %}" method="post">
    {% csrf_token %}
    <button type="submit">Add</button>
</form>